<a href="#openModal">Open Modal</a>

<div id="openModal" class="modalDialog">
  <div>
    <span>welcome to Loreum Ipsum</span>
    <a href="#close" title="Close" class="close">X</a>
    <div>
      <div>
        <img class="list-img" src="{{imgSrc}}" alt='Image' >
      
        <div style="padding-top:30px;padding-bottom:30px">
          <input type="checkbox" name="vehicle" value="Bike">Dont'show me again
          <span class="view-count"> Viewing 1 of 6 </span>
          <button (click)="onPreviousClick()" class="previous-btn">Previous</button>
          <button (click)="onNextClick()" class="nxt-btn">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>